/** @format */

h1 {
    margin: 0;
    margin-bottom: 10px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 20px;
}
