*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

/* .heading {
  color: blue;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "josefin Sans", sans-serif;
} */

p {
  text-align: center;
  font-weight: bold;
  font-family: "josefin Sans", sans-serif;
}

.img_div {
  display: flex;
  justify-content: center;
}