body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res_img {
  width: 90%;
  height: 100%;
}